.txt.text-input {
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 auto;
    width: 300px;
    height: 33px;
    padding: 3px;
    margin-bottom: 5px;
    display: block;
    border-radius: 7px;
    border: none;
    border-bottom: solid #337AB7 .2rem;
}

.txt.spinner-input {
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 33px;
    padding: 3px;
    margin-bottom: 5px;
    display: block;
    border-radius: 7px;
    border: none;
    border-bottom: solid #337AB7 .2rem;
}

.input.input-error {
    border: solid 3px #D9534F;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 auto;
    width: 300px;
    height: 33px;
    padding: 3px;
    margin-bottom: 5px;
    display: block;
    border-radius: 7px;
}

.txt.text-input:focus {
    border-bottom: solid #FF8D57 .2rem;
    outline: none;
}

.slct.slct-combo {
    background-color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border-bottom: solid 5px;
    border-bottom-color: #337AB7;
    border-radius: 7px;
}

.slct.slct-combo-error {
    background-color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border-bottom: solid 5px;
    border-bottom-color: #D9534F;
    border-radius: 7px;
}

.txt.text-buscar-error {
    border: solid 3px #D9534F;
    font-size: 18px;
    font-family: sans-serif;
    width: 75%;
    height: 38px;
    padding: 5px;
    /*margin-right: 0 auto;*/
    display: inline;
    border-radius: 0px;
    border-top-left-radius: 7px;
    border-end-start-radius: 7px;
    margin-top: 5px;
}

.txt.text-buscar {
    font-size: 18px;
    font-family: sans-serif;
    width: 75%;
    height: 38px;
    padding: 5px;
    /*argin-right: 0 auto;*/
    display: inline;
    border-radius: 0px;
    border-top-left-radius: 7px;
    border-end-start-radius: 7px;
    border: solid 1px;
    margin-top: 5px;
}

.txt.txt-texto-area {
    background-color: #fff;
    color: black;
    padding: 5px;
    border-radius: 7px;
    border: solid 1px;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    height: 230px;
}

.area.area-error {
    border: solid 3px #D9534F;
    background-color: #fff;
    color: black;
    padding: 5px;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    height: 230px;
}

.txt.txt-texto-area:focus {
    border-bottom: solid #FF8D57 .2rem;
    outline: none;
}

.area.area-error:focus {
    border-bottom: solid #FF8D57 .2rem;
    outline: none;
}